@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>@Model.Name</h2>
<hr/>
<p>@Html.DisplayFor(model => model.StylistLevel) Stylist</p>
<p>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</p>
<p>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</p>
<p>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</p>

<p>@Html.ActionLink("Edit Stylist", "Edit", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Add Stylist", "Create")</p>
<p>@Html.ActionLink("List of Stylists", "Index")</p>

<p>@Html.ActionLink("Add Client", "Index", "Create")</p>
<p>@Html.ActionLink("List of Clients", "Index", "Clients")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>