@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Stylists</h1>

<div class="container page-content py-3">
  @if (@Model.Count == 0)
  {
    <h3 class="text-warning">No stylists have been added yet!</h3>
  }

  <ul>
    @foreach (Stylist stylist in Model)
    {
      <li>
        @Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId }, new {@class = "person-link"})
        <a href='@Url.Action("Edit", "Stylists", new { id = stylist.StylistId })' title="Edit">   <i class="fas fa-pencil-alt"></i></a>
        <a href='@Url.Action("Delete", "Stylists", new { id = stylist.StylistId })' title="Delete">   <i class="fas fa-trash-alt"></i></a>
      </li>
    }
  </ul>
</div>

<div class="text-center m-5">
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Stylists", "Index", "Stylists", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Stylist", "Create", "Stylists", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Clients", "Index", "Clients", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Client", "Create", "Clients", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
</div>