@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h1>

@using (Html.BeginForm())
{
  <div class="text-center">
    <input type="submit" value="Delete" class="btn btn-danger btn-lg my-2" />
  </div>
}

<div class="text-center m-5">
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Stylists", "Index", "Stylists", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Stylist", "Create", "Stylists", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Clients", "Index", "Clients", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Client", "Create", "Clients", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
</div>