@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>@Model.Name</h2>
<hr/>
<p>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.Name)</p>
<p>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</p>
<p>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</p>
<p>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</p>

<p>@Html.ActionLink("Edit Client", "Edit")</p>
<p>@Html.ActionLink("Add Client", "Create")</p>
<p>@Html.ActionLink("List of Clients", "Index")</p>

<p>@Html.ActionLink("Add Stylist", "Create", "Stylists")</p>
<p>@Html.ActionLink("List of Stylists", "Index", "Stylists")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>