@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>@Model.Name</h2>
<hr/>
<p>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.Name)</p>
<p>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</p>
<p>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</p>
<p>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</p>